.vs/
bin/
obj/
Debug/
Release/
x64/
x86/
*.user
*.suo
*.VC.db
*.VC.opendb
*.rsuser
*.log
*.tmp
*.cache
*.db
*.sqlite
PrivacyGuardianApp/bin/
PrivacyGuardianApp/obj/
PrivacyGuardianApp/Publish/
PrivacyGuardianApp/Assets/Privacy_Guard_Source.png
PrivacyGuardianApp/Assets/Privacy_Guard.ico
